name: Build

on:
  push:
    branches-ignore:
      - main
      - sandbox

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      id-token: write
      packages: write
      security-events: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: java
      - name: Setup java
        uses: actions/setup-java@v5
        with:
          cache: maven
          java-version: 21
          distribution: temurin
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: Perform CodeQL analysis
        uses: github/codeql-action/analyze@v4
        with:
          category: "/language:java"
